* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.box-geral {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.box-fale-conosco {
  background-color: #A10808;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  grid-column: 1 / 2;
  position: absolute;
  height: auto;
} 

.box-fale-conosco .content h1 {
  font-size: 24px;
  color: white;
  font-weight: bold;
  margin-top: 4;
  margin: 2;
  display: none;
}

.btn-fale-conosco {
  display: none;
  padding: 8px;
}

.box-fale-conosco .content p {
  font-size: 14px;
  margin: 12px;
  font-style: italic;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; 
  height: 60px; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 10; 
  border-radius: 8px; 
}

.logo-login {
  width: 40%;
  height: 40%;
  max-width: 200px;
  max-height: 200px;
  padding-top: 10px;
}

.form-box {
  padding: 8;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

.form-box h2 {
  font-size: 36px;
  font-weight: bold;
  color: black;
  margin-bottom: 2rem;
}

.senha-esquecida {
  font-size: 14px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}

.criar-conta {
  font-size: 12px;
  font-weight: 600;
  margin: 1rem;
  color: black;
  cursor: pointer;
}

.chat-bubble-button {
position: relative;
padding: 20px;
border-radius: 50%;
border: 1px solid #a10808; 
background-color: transparent; 
font-size: 16px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
cursor: pointer;
transition: all 0.3s ease;
}


@media (min-width: 768px) {

  .box-geral {
    grid-template-columns: 1fr 1fr;
    position:initial;
  }

  .box-fale-conosco {
    border-top-left-radius: 0px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 200px;
    padding-right: 22px;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    position: unset;
  }

  .box-fale-conosco:hover .content h1 {
    animation: saltoTexto 0.5s ease-in-out;
  }

  .box-fale-conosco:hover p {
    animation: saltoTexto 0.8s ease-in-out;
  }

  .box-fale-conosco:hover .btn-fale-conosco {
    animation: saltoTexto 0.5s ease-in-out;
  }

  .logo-login {
    display: none;
  }

  @keyframes saltoTexto {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
        transform: translateY(0); 
    }
  }

  .box-fale-conosco .content h1 {
      font-size: 40px;
      display: unset;
  }

  .box-fale-conosco .content p {
      font-size: 16px;
    }

  .btn-fale-conosco {
    display: unset;
    padding: 8px;
  }

  .criar-conta {
    font-size: 12px;
    font-weight: lighter;
    margin: 8px;
    color: black;
    cursor: pointer;
  }

  .box-login {
    margin-top: 0;
    grid-column: 2 / 3;
    width: 100%;
    padding: 60px;
    height: unset;
    position: unset;
    top: unset; 
    left: unset;
    transform: unset;
    z-index: unset; 
    border-radius: unset;
  }

  .form-box h2 {
    margin-bottom: 1rem;
  }

  .form-box {
    max-width: 80%;
  }
}
